USE [master]
GO
/****** Object:  Database [ModernCare.DB]    Script Date: 1/7/2022 7:17:12 PM ******/
CREATE DATABASE [ModernCare.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ModernCare.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ModernCare.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ModernCare.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ModernCare.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ModernCare.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ModernCare.DB]
GO
/****** Object:  Table [dbo].[BENH]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENH](
	[ID_Benh] [char](5) NOT NULL,
	[TenBenh] [nchar](10) NULL,
 CONSTRAINT [PK_BENH] PRIMARY KEY CLUSTERED 
(
	[ID_Benh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[ID_BenhNhan] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NamSinh] [int] NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[NgayKham] [date] NOT NULL,
	[TrieuChung] [varchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[ID_BenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CACHDUNG]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CACHDUNG](
	[ID_CachDung] [varchar](2) NOT NULL,
	[TenCachDung] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_CACHDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_CachDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUKHAM]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUKHAM](
	[IDPhieuKham] [varchar](50) NOT NULL,
	[ID_ChiTietPhieu] [int] IDENTITY(1,1) NOT NULL,
	[ID_Thuoc] [varchar](5) NOT NULL,
	[SoLuong] [tinyint] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUKHAM_1] PRIMARY KEY CLUSTERED 
(
	[IDPhieuKham] ASC,
	[ID_ChiTietPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVITINH]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVITINH](
	[ID_DVT] [char](2) NOT NULL,
	[DVT] [nchar](15) NOT NULL,
 CONSTRAINT [PK_DONVITINH] PRIMARY KEY CLUSTERED 
(
	[ID_DVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID_HoaDon] [char](10) NOT NULL,
	[ID_ThuNgan] [char](7) NOT NULL,
	[IDPhieuKham] [nchar](7) NOT NULL,
	[TongTien] [int] NOT NULL,
	[NgayXuat] [datetime] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID_NhanVien] [char](7) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[Username] [nvarchar](35) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [char](1) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUKHAMBENH]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUKHAMBENH](
	[ID_Phieu] [varchar](10) NOT NULL,
	[ID_BenhNhan] [varchar](50) NOT NULL,
	[ID_BacSi] [char](7) NOT NULL,
	[NgayKham] [date] NOT NULL,
	[ChanDoan] [char](5) NOT NULL,
	[TrieuChung] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHIEUKHAMBENH] PRIMARY KEY CLUSTERED 
(
	[ID_Phieu] ASC,
	[ChanDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID_Role] [char](1) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 1/7/2022 7:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[ID_Thuoc] [varchar](5) NOT NULL,
	[TenThuoc] [nvarchar](26) NOT NULL,
	[CachDung] [varchar](2) NOT NULL,
	[DVT] [char](2) NOT NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[ID_Thuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETPHIEUKHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUKHAM_THUOC1] FOREIGN KEY([ID_Thuoc])
REFERENCES [dbo].[THUOC] ([ID_Thuoc])
GO
ALTER TABLE [dbo].[CHITIETPHIEUKHAM] CHECK CONSTRAINT [FK_CHITIETPHIEUKHAM_THUOC1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([ID_ThuNgan])
REFERENCES [dbo].[NHANVIEN] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_ROLES] FOREIGN KEY([Role])
REFERENCES [dbo].[ROLES] ([ID_Role])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_ROLES]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_BENH] FOREIGN KEY([ChanDoan])
REFERENCES [dbo].[BENH] ([ID_Benh])
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_BENH]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_BENHNHAN] FOREIGN KEY([ID_BenhNhan])
REFERENCES [dbo].[BENHNHAN] ([ID_BenhNhan])
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_BENHNHAN]
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUKHAMBENH_NHANVIEN] FOREIGN KEY([ID_BacSi])
REFERENCES [dbo].[NHANVIEN] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[PHIEUKHAMBENH] CHECK CONSTRAINT [FK_PHIEUKHAMBENH_NHANVIEN]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_CACHDUNG] FOREIGN KEY([CachDung])
REFERENCES [dbo].[CACHDUNG] ([ID_CachDung])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_CACHDUNG]
GO
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_DONVITINH] FOREIGN KEY([DVT])
REFERENCES [dbo].[DONVITINH] ([ID_DVT])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_DONVITINH]
GO
USE [master]
GO
